body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    color: brown;
}

ul {
    border: 1px dotted black;
}

a {
    text-decoration: none;
}

p {
    font-family: 휴먼편지체, Serif;
    font-size: 1em;
    text-indent: 1em;
}

h2 {
    color: blue;
    text-shadow: 3px 3px 5px skyblue;
}

header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-color: black;
}

footer {
    text-align: 1em;
    border-radius: 10px;
    background: orange;
    margin: 10px;
}